@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,700&display=swap");
/*GENERAL*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*OPERACIONES*/
body {
  margin: 0px; }

.white {
  color: white; }

.enh1 {
  /*OPERACIONES*/
  font-family: "Ubuntu Mono", monospace;
  font-size: 4rem;
  font-weight: 700;
  /*OPERACIONES*/
  color: #ffbe00;
  text-transform: uppercase;
  text-align: center; }

/*OPERACIONES*/
.containerHome .navegacion nav {
  font-family: "Ubuntu Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  /* background-color:rgb(0, 20, 40); */
  /*     padding: 5px; */ }
  .containerHome .navegacion nav a .logomenu {
    width: 100%;
    min-width: 150px;
    max-width: 250px; }
  .containerHome .navegacion nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .containerHome .navegacion nav ul li {
      text-align: center;
      position: relative; }
      .containerHome .navegacion nav ul li a {
        width: 90px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-decoration: none;
        color: #F3D548;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase; }
      .containerHome .navegacion nav ul li a:link {
        outline: none; }

@media screen and (min-width: 768px) {
  .containerHome .navegacion nav {
    flex-direction: row; }
    .containerHome .navegacion nav ul li {
      /* Efecto hover para los enlaces*/ }
      .containerHome .navegacion nav ul li a {
        width: 110px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-decoration: none;
        color: #F3D548;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase; }
      .containerHome .navegacion nav ul li .link-active::before {
        content: '';
        width: 0%;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-color: #ffbe00;
        transition: 0.4s ease width; }
      .containerHome .navegacion nav ul li a:hover {
        color: #ffbe00;
        /* background-color: rgb(0,15,30); */
        background-color: #f0f0f0; }
      .containerHome .navegacion nav ul li a:hover ~ .link-active::before {
        width: 100%;
        /* Con hover, se ancla en la izquierda. Al terminar el hover, right: 0 y se ancla en la derecha. */
        left: 0;
        right: auto; }
    .containerHome .navegacion nav ul li:last-child {
      margin-right: 1rem; } }

/*OPERACIONES*/
footer {
  background-color: #000a1e;
  color: #ddd;
  font-family: "Ubuntu Mono", monospace; }
  footer .footer__info {
    padding: 1rem;
    color: #f9f9f9;
    display: flex;
    flex-direction: column; }
    footer .footer__info .footer__newsletter .footer__form-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 360px; }
      footer .footer__info .footer__newsletter .footer__form-container .form__item {
        width: 80%;
        margin: 1.5rem auto .5rem auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        border: none;
        position: relative; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item i {
          font-size: 1.2rem;
          margin: 0;
          display: block;
          width: 8%;
          padding: 5px;
          order: 1;
          color: #ddd;
          transition: 0.5s ease all; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input {
          width: 100%;
          order: 2;
          border: none;
          outline: none;
          padding: 10px;
          padding-left: 1.2rem;
          background-color: transparent;
          font-size: 1.2rem;
          color: #ddd;
          font-family: 'Ubuntu Mono', monospace; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input[type="submit"] {
          text-transform: uppercase;
          color: #ddd;
          padding: .2rem;
          background-color: #ffbe00;
          border-radius: 2rem;
          transition: all .4s;
          margin-left: 1rem; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item label {
          position: absolute;
          top: 11px;
          left: 40px;
          transition: .5s ease all;
          pointer-events: none;
          color: #ddd;
          font-size: 1.2rem; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus {
          outline: none; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item .form__border-active {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item .form__border-active::before {
          content: '';
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(90deg, #ffbe00 60%, #ff6400 100%);
          transition: 0.4s ease width; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus ~ .form__border-active::before,
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:valid ~ .form__border-active::before,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:focus ~ .form__border-active::before,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:valid ~ .form__border-active::before {
          width: 100%; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus ~ label,
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:valid ~ label,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:focus ~ label,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:valid ~ label {
          top: -1.1rem;
          left: 0;
          font-size: 1rem;
          color: #ffbe00; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus ~ i,
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:valid ~ i,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:focus ~ i,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:valid ~ i {
          color: #ffbe00; }
      footer .footer__info .footer__newsletter .footer__form-container .form__item:last-child {
        max-width: 100px; }
    footer .footer__info .footer__list ul li {
      list-style: none; }
      footer .footer__info .footer__list ul li a {
        text-decoration: none;
        color: #f9f9f9; }
  footer .footer__social {
    width: 100%;
    height: 100%; }
    footer .footer__social .footer__siguenos {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer__social .footer__siguenos .footer-socialNetworks a {
        margin: 1rem;
        display: inline-block; }
        footer .footer__social .footer__siguenos .footer-socialNetworks a i {
          color: #ddd;
          font-size: 1.5rem;
          transition: all 0.2s; }
    footer .footer__social .footer__rights {
      display: block;
      font-size: .8rem;
      text-align: center;
      margin: auto;
      padding-bottom: .1rem;
      width: 98%; }

@media screen and (min-width: 768px) {
  .footer .footer__info {
    padding: 2rem 2rem 0 2rem;
    background-color: #000a1e;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .footer .footer__info .footer__newsletter {
      margin-top: 0;
      width: 50%;
      padding: 0 2rem; }
      .footer .footer__info .footer__newsletter .footer__form-container {
        width: 360px; }
        .footer .footer__info .footer__newsletter .footer__form-container .form__item {
          max-width: 200px;
          margin: 1.5rem 0; }
          .footer .footer__info .footer__newsletter .footer__form-container .form__item input[type="submit"]:hover {
            box-shadow: 0 0 10px #ffbe00, 0 0 20px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00; }
    .footer .footer__info .footer__list {
      margin: 0;
      margin-left: 2rem; }
      .footer .footer__info .footer__list ul li a:hover {
        color: #ffbe00;
        text-shadow: 0 0 10px #ffbe00, 0 0 20px #ffbe00, 0 0 40px #ffbe00; }
  .footer .footer__social .footer__siguenos .footer-socialNetworks i {
    cursor: pointer; }
  .footer .footer__social .footer__siguenos .footer-socialNetworks i:hover {
    color: #ffbe00;
    text-shadow: 0 0 5px #ffbe00, 0 0 10px #ffbe00, 0 0 15px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00; } }

/*paginas del footer*/
.politica {
  font-family: "Ubuntu Mono", monospace;
  margin: 45px;
  height: 80vh; }
  .politica h1 {
    font-size: 50px;
    color: #ffbe00; }
  .politica h2 {
    color: rgba(0, 20, 40, 0.9); }
  .politica p {
    color: rgba(0, 20, 40, 0.9); }

/*Inicio*/
.inicio .carousel-item .carousel-caption .welcome {
  color: #ffbe00;
  /*OPERACIONES*/
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  font-size: 50px; }

.inicio .carousel-item .carousel-caption h2 {
  color: #ffbe00;
  /*OPERACIONES*/
  font-family: "Ubuntu Mono", monospace;
  text-align: center; }

.inicio .carousel-item .carousel-caption .acontacto {
  text-decoration: none; }

.inicio .carousel-item .carousel-caption p {
  text-align: center;
  text-align-last: center;
  /*OPERACIONES*/
  font-family: "Ubuntu Mono", monospace; }

.inicio .carousel-item img {
  object-fit: cover;
  height: 90vh; }

/*MENU*/
.elmenu .carousel-item .carousel-caption h2 {
  color: #ffbe00;
  /*OPERACIONES*/
  font-family: "Ubuntu Mono", monospace;
  text-align: center; }

.elmenu .carousel-item .carousel-caption p {
  text-align: center;
  text-align-last: center;
  /*OPERACIONES*/
  font-family: "Ubuntu Mono", monospace; }

.elmenu .carousel-item img {
  object-fit: cover;
  height: 80vh; }

/*  CLIENTS     */
.clients {
  width: 100%; }
  .clients .containerClient .Images-Container {
    margin: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center; }
    .clients .containerClient .Images-Container .Images-Container__item {
      width: 320px; }
      .clients .containerClient .Images-Container .Images-Container__item img {
        display: block;
        margin: 0;
        width: 320px;
        height: 320px;
        object-fit: cover; }
      .clients .containerClient .Images-Container .Images-Container__item img:nth-child(2) {
        object-position: left; }
      .clients .containerClient .Images-Container .Images-Container__item img:nth-child(5) {
        object-position: top; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info {
        margin-bottom: 1.5rem;
        padding: 0 .5rem; }
        .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions {
          display: flex; }
          .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i {
            font-size: 1.5rem;
            margin: 1rem;
            margin-left: 0; }
          .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:last-child {
            margin-left: auto; }
        .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info span {
          font-weight: bold; }
        .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul {
          columns: 2;
          text-align: center; }
          .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li {
            list-style: none; }
            .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li a {
              display: block;
              height: 2rem;
              line-height: 2rem;
              text-decoration: none;
              color: #001428; }

@media screen and (min-width: 992px) {
  .clients .containerClient .Images-Container .Images-Container__item {
    position: relative; }
    .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #ddd;
      padding: .5rem;
      padding-top: 20%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      transition-property: opacity, height;
      transition-duration: .5s, .5s;
      opacity: 0;
      height: 0;
      background: linear-gradient(180deg, rgba(0, 20, 40, 0.2), #001428);
      margin-bottom: 0; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i {
        cursor: pointer;
        transition: all .4s; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(1):hover {
        color: #fa1e28;
        text-shadow: 0 0 5px #fa1e28, 0 0 5px #fa1e28, 0 0 10px #fa1e28, 0 0 15px #fa1e28, 0 0 40px #fa1e28; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(2):hover {
        color: #3d78f8;
        text-shadow: 0 0 5px #3d78f8, 0 0 5px #3d78f8, 0 0 10px #3d78f8, 0 0 15px #3d78f8, 0 0 40px #3d78f8; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(3):hover {
        color: #44e0eb;
        text-shadow: 0 0 5px #44e0eb, 0 0 5px #44e0eb, 0 0 10px #44e0eb, 0 0 15px #44e0eb, 0 0 40px #44e0eb; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(4):hover {
        color: #969696;
        text-shadow: 0 0 5px #969696, 0 0 5px #969696, 0 0 10px #969696, 0 0 15px #969696, 0 0 40px #969696; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li a {
        color: #ddd; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li a:hover {
        color: #ffbe00;
        text-shadow: 0 0 5px #ffbe00, 0 0 5px #ffbe00, 0 0 10px #ffbe00, 0 0 15px #ffbe00, 0 0 40px #ffbe00; }
  .clients .containerClient .Images-Container .Images-Container__item:hover .Images-Container-info {
    transition-property: opacity, height;
    transition-duration: .4s, .3s;
    transition-delay: .5s;
    opacity: 1;
    height: 100%; }
  .clients .containerClient .Images-Container .Images-Container__item:nth-child(5) {
    grid-row: 1 / span 2;
    height: 640px; }
    .clients .containerClient .Images-Container .Images-Container__item:nth-child(5) img {
      height: 640px; }
    .clients .containerClient .Images-Container .Images-Container__item:nth-child(5) .Images-Container-info {
      padding-top: 120%; } }

/*CONTACTO*/
.contact .form-section {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: slateblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contact .form-section .form-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .contact .form-section .form-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contact .form-section .form-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(225deg, #001428, #FFBE00);
    z-index: 1;
    mix-blend-mode: screen; }
  .contact .form-section .form-box {
    width: 80%;
    /*height: 80%;*/
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 20, 40, 0.9);
    border-radius: 1rem; }
    .contact .form-section .form-box .form-box__container {
      width: 80%; }
      .contact .form-section .form-box .form-box__container .form__title {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: "Ubuntu Mono", monospace;
        color: #ffbe00;
        margin-bottom: 3rem;
        text-align: center; }
      .contact .form-section .form-box .form-box__container .form__form .form__item {
        box-sizing: border-box;
        width: 80%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        /* para que no colapse */
        border: none;
        position: relative; }
        .contact .form-section .form-box .form-box__container .form__form .form__item i {
          font-size: 1.2rem;
          width: 8%;
          padding: 5px;
          /* order: 1 Lo coloco primero */
          order: 1;
          color: #ddd;
          transition: 0.5s ease all; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input {
          width: 92%;
          order: 2;
          border: none;
          outline: none;
          padding: 10px;
          background-color: transparent;
          font-size: 1.2rem;
          color: #ddd;
          font-family: "Ubuntu Mono", monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus {
          outline: none; }
        .contact .form-section .form-box .form-box__container .form__form .form__item label {
          position: absolute;
          top: .6rem;
          left: 3rem;
          transition: .5s ease all;
          pointer-events: none;
          color: #ddd;
          font-size: 1.2rem;
          font-family: "Ubuntu Mono", monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__item .form__border-active {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%; }
        .contact .form-section .form-box .form-box__container .form__form .form__item .form__border-active::before {
          content: '';
          width: 0%;
          height: 2px;
          /* position: absolute sale del flujo, no necesito ponerle order y funciona mejor el nowrap, sino no funciona bien. */
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(90deg, #ffbe00 60%, #ff6400 100%);
          transition: 0.4s ease width; }
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea {
          width: 92%;
          height: 20px;
          order: 2;
          border: none;
          outline: none;
          padding: 10px;
          background-color: transparent;
          resize: none;
          font-size: 1.2rem;
          color: #ddd;
          font-family: 'Ubuntu Mono', monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus ~ .form__border-active::before,
        .contact .form-section .form-box .form-box__container .form__form .form__item input:valid ~ .form__border-active::before,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:focus ~ .form__border-active::before,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:valid ~ .form__border-active::before {
          width: 100%; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus ~ label,
        .contact .form-section .form-box .form-box__container .form__form .form__item input:valid ~ label,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:focus ~ label,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:valid ~ label {
          top: -1.1rem;
          left: 0;
          font-size: 1rem;
          color: #ffbe00; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus ~ i,
        .contact .form-section .form-box .form-box__container .form__form .form__item input:valid ~ i,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:focus ~ i,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:valid ~ i {
          color: #ffbe00; }
      .contact .form-section .form-box .form-box__container .form__form .form__button {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Ubuntu Mono", monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon {
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          margin: .5rem auto;
          padding: 15px 30px;
          color: #fff;
          letter-spacing: 4px;
          text-decoration: none;
          font-size: 24px;
          overflow: hidden;
          transition: 0.2s;
          background: #ffbe00;
          border-radius: .5rem;
          box-shadow: 0 0 10px #ffbe00, 0 0 10px #ffbe00, 0 0 20px #ffbe00; }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon span {
            position: absolute;
            display: block; }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span1 {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #ffbe00); }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span3 {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #ffbe00); }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span2 {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #ffbe00); }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span4 {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #ffbe00); }

.contact .map-section h2 {
  color: #ffbe00;
  font-family: "Ubuntu Mono", monospace; }

.contact .map-section .map-container {
  margin: 3rem auto;
  width: 100%; }
  .contact .map-section .map-container .map {
    width: 100%;
    height: 300px; }

@media screen and (min-width: 992px) {
  .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon {
    background: transparent;
    border-radius: .5rem;
    box-shadow: 0 0 0 transparent; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon span {
      position: absolute;
      display: block; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span1 {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #ffbe00); }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span3 {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #ffbe00); }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span2 {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #ffbe00); }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span4 {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #ffbe00); }
  .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover {
    background: #ffbe00;
    box-shadow: 0 0 10px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00;
    transition-delay: 1s; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover #span1 {
      left: 100%;
      transition: 1s; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover #span3 {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover #span2 {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s; } }

@media screen and (min-width: 768px) {
  .contact .form-section {
    height: 600px; }
    .contact .form-section .form-image {
      width: 50%;
      height: 100%;
      position: relative; }
    .contact .form-section .form-image:before {
      height: 600px; }
    .contact .form-section .form-box {
      width: 50%;
      height: 100%;
      position: static;
      background: #001428;
      border-radius: 0; }
  .contact .map-section .map-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact .map-section .map-container .map {
      width: 50%;
      height: 300px; } }

/*    NOSOTROS    */
.sectionUs {
  width: 100%; }
  .sectionUs .container .us__contact {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .sectionUs .container .us__contact .us__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px; }
      .sectionUs .container .us__contact .us__image-container .us__image img {
        display: block;
        width: 320px;
        height: 320px;
        object-fit: cover; }
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(2),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(3),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(4) {
        display: none; }
    .sectionUs .container .us__contact .us__contact-info {
      width: 320px;
      /*     background-color: #F3D548;  */
      text-align: center;
      padding: 1rem;
      color: #001428;
      position: relative; }
      .sectionUs .container .us__contact .us__contact-info h3 {
        text-transform: uppercase;
        margin-bottom: .5rem;
        font-family: 'Ubuntu Mono', monospace;
        font-weight: 700;
        font-size: 2rem; }
      .sectionUs .container .us__contact .us__contact-info p {
        font-family: 'Ubuntu Mono', monospace;
        height: 120px;
        overflow: auto; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social i {
        cursor: pointer;
        font-size: 1.5rem;
        margin: 1rem;
        color: #001428;
        transition: color .4s; }
  .sectionUs .container .us__contact:nth-child(odd) .us__image-container .us__image {
    background-color: #ffbe00; }
  .sectionUs .container .us__contact:nth-child(even) .us__image-container .us__image {
    background-color: #ff6400; }

@media screen and (min-width: 992px) {
  .sectionUs .container .us__contact {
    width: 80%;
    margin: 5rem auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .sectionUs .container .us__contact .us__image-container .us__image {
      position: relative;
      width: 320px;
      height: 320px; }
      .sectionUs .container .us__contact .us__image-container .us__image img {
        position: absolute;
        transition: all .5s; }
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(2),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(3),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(4) {
        display: block; }
    .sectionUs .container .us__contact .us__contact-info {
      width: 60%;
      max-width: 500px;
      text-align: left;
      margin-left: 50px; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social {
        text-align: right; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social:nth-child(odd) i:hover {
        color: #FFBE00;
        text-shadow: 0 0 10px #FFBE00, 0 0 40px #FFBE00; }
    .sectionUs .container .us__contact .us__contact-info::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 5px;
      bottom: 0;
      right: 0;
      transition: all .4s; }
  .sectionUs .container .us__contact:nth-child(odd) .us__contact-info::before {
    background-color: #ffbe00; }
  .sectionUs .container .us__contact:nth-child(even) .us__contact-info::before {
    background-color: #ff6400; }
  .sectionUs .container .us__contact:hover .us__contact-info::before {
    width: 100%;
    right: auto;
    left: 0; }
    .sectionUs .container .us__contact:hover .us__contact-info::before .us__contact-social i:hover {
      color: #ff6400;
      text-shadow: 0 0 10px #ff6400, 0 0 40px #ff6400; }
  .sectionUs .container .us__contact:hover img:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: .4; }
  .sectionUs .container .us__contact:hover img:nth-child(2) {
    transform: translate(20px, -20px);
    opacity: .6; }
  .sectionUs .container .us__contact:hover img:nth-child(3) {
    transform: translate(30px, -30px);
    opacity: .8; }
  .sectionUs .container .us__contact:hover img:nth-child(4) {
    transform: translate(40px, -40px);
    opacity: 1; } }
