@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  margin: 0px;
  font-family: "Ubuntu Mono", monospace; }

.white {
  color: white; }

.titulo {
  font-size: 3rem;
  text-align: center;
  color: #ffbe00;
  margin-bottom: 1rem; }

.parrafo {
  font-size: 1.3rem;
  width: 50%;
  margin: 1rem auto;
  text-align: center; }

.navegacion nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0, 20, 40, 0.3); }
  .navegacion nav a .logomenu {
    width: 100%;
    min-width: 150px;
    max-width: 250px; }
  .navegacion nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; }
    .navegacion nav ul li {
      text-align: center;
      position: relative; }
      .navegacion nav ul li a {
        width: 90px;
        height: 50px;
        line-height: 50px;
        display: block;
        text-decoration: none;
        color: #F3D548;
        font-size: 1.2rem;
        font-weight: 400;
        text-transform: uppercase; }
      .navegacion nav ul li a:link {
        outline: none; }

@media screen and (min-width: 768px) {
  .navegacion {
    position: sticky;
    top: 0;
    z-index: 200; }
    .navegacion nav {
      flex-direction: row; }
      .navegacion nav ul li {
        /* Efecto hover para los enlaces*/ }
        .navegacion nav ul li a {
          width: 110px;
          height: 70px;
          line-height: 70px;
          display: block;
          text-decoration: none;
          color: #F3D548;
          font-size: 1.2rem;
          font-weight: 400;
          text-transform: uppercase; }
        .navegacion nav ul li .link-active::before {
          content: '';
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0;
          right: 0;
          background-color: #ffbe00;
          transition: 0.4s ease width; }
        .navegacion nav ul li a:hover {
          color: #ffbe00;
          /* background-color: rgb(0,15,30); */
          background-color: #f0f0f0; }
        .navegacion nav ul li a:hover ~ .link-active::before {
          width: 100%;
          /* Con hover, se ancla en la izquierda. Al terminar el hover, right: 0 y se ancla en la derecha. */
          left: 0;
          right: auto; }
      .navegacion nav ul li:last-child {
        margin-right: 1rem; } }

footer {
  background-color: #000a1e;
  color: #ddd;
  font-family: "Ubuntu Mono", monospace; }
  footer .footer__info {
    padding: 1rem;
    color: #f9f9f9;
    display: flex;
    flex-direction: column; }
    footer .footer__info .footer__newsletter .footer__form-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      max-width: 360px; }
      footer .footer__info .footer__newsletter .footer__form-container .form__item {
        width: 80%;
        margin: 1.5rem auto .5rem auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        border: none;
        position: relative; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item i {
          font-size: 1.2rem;
          margin: 0;
          display: block;
          width: 8%;
          padding: 5px;
          order: 1;
          color: #ddd;
          transition: 0.5s ease all; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input {
          width: 100%;
          order: 2;
          border: none;
          outline: none;
          padding: 10px;
          padding-left: 1.2rem;
          background-color: transparent;
          font-size: 1.2rem;
          color: #ddd;
          font-family: 'Ubuntu Mono', monospace; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input[type="submit"] {
          text-transform: uppercase;
          color: #ddd;
          padding: .2rem;
          background-color: #ffbe00;
          border-radius: 2rem;
          transition: all .4s;
          margin-left: 1rem; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item label {
          position: absolute;
          top: 11px;
          left: 40px;
          transition: .5s ease all;
          pointer-events: none;
          color: #ddd;
          font-size: 1.2rem; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus {
          outline: none; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item .form__border-active {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item .form__border-active::before {
          content: '';
          width: 0%;
          height: 2px;
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(90deg, #ffbe00 60%, #ff6400 100%);
          transition: 0.4s ease width; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus ~ .form__border-active::before,
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:valid ~ .form__border-active::before,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:focus ~ .form__border-active::before,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:valid ~ .form__border-active::before {
          width: 100%; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus ~ label,
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:valid ~ label,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:focus ~ label,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:valid ~ label {
          top: -1.1rem;
          left: 0;
          font-size: 1rem;
          color: #ffbe00; }
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:focus ~ i,
        footer .footer__info .footer__newsletter .footer__form-container .form__item input:valid ~ i,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:focus ~ i,
        footer .footer__info .footer__newsletter .footer__form-container .form__item textarea:valid ~ i {
          color: #ffbe00; }
      footer .footer__info .footer__newsletter .footer__form-container .form__item:last-child {
        max-width: 100px; }
    footer .footer__info .footer__list ul li {
      list-style: none; }
      footer .footer__info .footer__list ul li a {
        text-decoration: none;
        color: #f9f9f9; }
  footer .footer__social {
    width: 100%;
    height: 100%; }
    footer .footer__social .footer__siguenos {
      display: flex;
      justify-content: center;
      align-items: center; }
      footer .footer__social .footer__siguenos .footer-socialNetworks a {
        margin: 1rem;
        display: inline-block; }
        footer .footer__social .footer__siguenos .footer-socialNetworks a i {
          color: #ddd;
          font-size: 1.5rem;
          transition: all 0.2s; }
    footer .footer__social .footer__rights {
      display: block;
      font-size: .8rem;
      text-align: center;
      margin: auto;
      padding-bottom: .1rem;
      width: 98%; }

@media screen and (min-width: 768px) {
  .footer .footer__info {
    padding: 2rem 2rem 0 2rem;
    background-color: #000a1e;
    color: #f9f9f9;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
    .footer .footer__info .footer__newsletter {
      margin-top: 0;
      width: 50%;
      padding: 0 2rem; }
      .footer .footer__info .footer__newsletter .footer__form-container {
        width: 360px; }
        .footer .footer__info .footer__newsletter .footer__form-container .form__item {
          max-width: 200px;
          margin: 1.5rem 0; }
          .footer .footer__info .footer__newsletter .footer__form-container .form__item input[type="submit"]:hover {
            box-shadow: 0 0 10px #ffbe00, 0 0 20px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00; }
    .footer .footer__info .footer__list {
      margin: 0;
      margin-left: 2rem; }
      .footer .footer__info .footer__list ul li a:hover {
        color: #ffbe00;
        text-shadow: 0 0 10px #ffbe00, 0 0 20px #ffbe00, 0 0 40px #ffbe00; }
  .footer .footer__social .footer__siguenos .footer-socialNetworks i {
    cursor: pointer; }
  .footer .footer__social .footer__siguenos .footer-socialNetworks i:hover {
    color: #ffbe00;
    text-shadow: 0 0 5px #ffbe00, 0 0 10px #ffbe00, 0 0 15px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00; } }

.politica {
  font-family: "Ubuntu Mono", monospace;
  margin: 45px;
  height: 80vh; }
  .politica h1 {
    font-size: 50px;
    color: #ffbe00;
    text-align: center;
    margin-bottom: 3rem; }
  .politica h2 {
    color: rgba(0, 20, 40, 0.9);
    margin: 2rem 0 1rem 0; }
  .politica p {
    color: rgba(0, 20, 40, 0.9); }
  .politica .img1 {
    margin-top: 2rem;
    width: 100%; }
    .politica .img1 img {
      display: block;
      margin: auto;
      width: 40%; }

.containerHome .slider {
  width: 100%;
  position: relative; }
  .containerHome .slider #check-1,
  .containerHome .slider #check-2,
  .containerHome .slider #check-3 {
    display: none; }
  .containerHome .slider .slider__images {
    width: 100%;
    height: 30vh;
    margin: auto;
    position: relative; }
    .containerHome .slider .slider__images img {
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      max-height: 100%;
      object-fit: cover;
      position: absolute;
      opacity: 0;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transition: all 1s ease; }
  .containerHome .slider .slider__contents .slider__contents-1 {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    color: #ffbe00;
    background-color: rgba(0, 20, 40, 0.4);
    border-radius: 1rem;
    opacity: 0;
    transition: all .4s; }
    .containerHome .slider .slider__contents .slider__contents-1 h1 {
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: .5rem; }
    .containerHome .slider .slider__contents .slider__contents-1 p {
      font-size: 1rem;
      padding: .5rem;
      color: white; }
  .containerHome .slider .slider__contents .slider__contents-2,
  .containerHome .slider .slider__contents .slider__contents-3 {
    width: 80%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    color: #ffbe00;
    background-color: rgba(0, 20, 40, 0.4);
    border-radius: 1rem;
    opacity: 0;
    transition: all .4s; }
    .containerHome .slider .slider__contents .slider__contents-2 h2,
    .containerHome .slider .slider__contents .slider__contents-3 h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      padding: .5rem; }
    .containerHome .slider .slider__contents .slider__contents-2 p,
    .containerHome .slider .slider__contents .slider__contents-3 p {
      font-size: 1rem;
      padding: .5rem;
      color: white; }
  .containerHome .slider .slider__dots {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50; }
    .containerHome .slider .slider__dots label i {
      color: rgba(255, 255, 255, 0.5);
      cursor: pointer;
      margin: .5rem;
      font-size: 1.5rem;
      transition: all .4s; }

#check-1:checked ~ .slider__dots label:nth-child(1) i,
#check-2:checked ~ .slider__dots label:nth-child(2) i,
#check-3:checked ~ .slider__dots label:nth-child(3) i {
  color: white;
  text-shadow: 0 0 15px white;
  font-size: 1.7rem; }

#check-1:checked ~ .slider__images img:nth-child(1),
#check-1:checked ~ .slider__contents .slider__contents-1,
#check-2:checked ~ .slider__images img:nth-child(2),
#check-2:checked ~ .slider__contents .slider__contents-2,
#check-3:checked ~ .slider__images img:nth-child(3),
#check-3:checked ~ .slider__contents .slider__contents-3 {
  opacity: 1; }

@media screen and (min-width: 600px) {
  .containerHome .slider .slider__images {
    width: 100%;
    height: 50vh;
    position: relative; }
  .containerHome .slider .slider__contents {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .containerHome .slider .slider__contents .slider__contents-1 h1 {
      font-size: 2.5rem; }
    .containerHome .slider .slider__contents .slider__contents-1 p {
      font-size: 1rem; }
    .containerHome .slider .slider__contents .slider__contents-2 h2,
    .containerHome .slider .slider__contents .slider__contents-3 h2 {
      font-size: 2.5rem; }
    .containerHome .slider .slider__contents .slider__contents-2 p,
    .containerHome .slider .slider__contents .slider__contents-3 p {
      font-size: 1rem; }
  .containerHome .slider .slider__dots {
    bottom: 2rem; } }

@media screen and (min-width: 1024px) {
  .containerHome .slider .slider__images {
    width: 100%;
    height: 90vh;
    position: relative; }
    .containerHome .slider .slider__images img {
      width: 100%;
      height: 100%;
      margin: 0; }
  .containerHome .slider .slider__contents {
    width: 50%;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .containerHome .slider .slider__contents .slider__contents-1 h1 {
      font-size: 4rem; }
    .containerHome .slider .slider__contents .slider__contents-1 p {
      font-size: 1.5rem; }
    .containerHome .slider .slider__contents .slider__contents-2 h2,
    .containerHome .slider .slider__contents .slider__contents-3 h2 {
      font-size: 4rem; }
    .containerHome .slider .slider__contents .slider__contents-2 p,
    .containerHome .slider .slider__contents .slider__contents-3 p {
      font-size: 1.5rem; }
  .containerHome .slider .slider__dots {
    bottom: 2rem; } }

.burgers-section {
  padding: 3rem 1rem; }
  .burgers-section .burgers__explanation p:last-child {
    margin-bottom: 2rem; }
  .burgers-section .burgers .combo .burgers__card .burgers__front {
    display: none; }
  .burgers-section .burgers .combo .burgers__card .burgers__back {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ddd;
    padding: 1rem 1rem .3rem 1rem; }
    .burgers-section .burgers .combo .burgers__card .burgers__back .top .burgers__image {
      align-self: flex-start; }
      .burgers-section .burgers .combo .burgers__card .burgers__back .top .burgers__image img {
        display: block;
        width: 60px;
        height: 60px;
        object-fit: cover;
        border-radius: 50%; }
    .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info {
      width: 70%;
      max-width: 333px;
      margin-left: 1rem; }
      .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info h3 {
        text-transform: uppercase; }
      .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 1rem 0 .3rem 0; }
        .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion {
          display: flex;
          align-items: center;
          color: #646464; }
          .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion span {
            margin-left: .5rem; }
  .burgers-section .burgers .combo .burgers__card .burgers__back:first-child {
    margin-top: 1rem; }

@media screen and (min-width: 768px) {
  .burgers-section .burgers {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem; }
    .burgers-section .burgers .combo {
      width: 300px;
      min-width: 300px;
      height: 400px;
      margin: 1rem .5rem;
      flex-wrap: nowrap; }
      .burgers-section .burgers .combo .burgers__card {
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        position: relative;
        transition: all ease .5s;
        transform-style: preserve-3d;
        transform: perspective(600px) rotateY(0deg); }
        .burgers-section .burgers .combo .burgers__card .burgers__front {
          display: block;
          /* 
                        display: none; */
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          transition: all ease .5s;
          background: #FFF;
          transform: perspective(600px) rotateY(180deg); }
          .burgers-section .burgers .combo .burgers__card .burgers__front img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 1rem; }
        .burgers-section .burgers .combo .burgers__card .burgers__back {
          width: 100%;
          height: 100%;
          border-radius: 1rem;
          transition: all ease .5s;
          background: #FFF;
          display: block;
          padding: 0;
          position: absolute;
          top: 0;
          left: 0;
          transform: perspective(600px) rotateY(180deg);
          backface-visibility: hidden;
          overflow: auto;
          border: 1px solid #646464; }
          .burgers-section .burgers .combo .burgers__card .burgers__back .top {
            background: #001428;
            width: 100%;
            height: 25%; }
            .burgers-section .burgers .combo .burgers__card .burgers__back .top .burgers__image {
              position: absolute;
              top: calc(25% - 50px);
              left: calc(50% - 50px);
              /*Otra opción para centrar la imagen   
                                top: 25%;
                                left: 50%;
                                transform: translate(-50%,-50%); */
              width: 100px;
              height: 100px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
              background-color: #fff; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .top .burgers__image img {
                display: block;
                width: 90px;
                height: 90px;
                border-radius: 50%; }
          .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info {
            padding: 2rem;
            margin: auto;
            width: 100%;
            max-width: 100%;
            height: 75%;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center; }
            .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info h3 {
              margin-top: 1.5rem;
              font-size: 2rem;
              text-align: center;
              color: #ffbe00; }
            .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__separator {
              position: relative;
              width: 80%;
              height: 2px; }
            .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__separator::before {
              content: '';
              display: block;
              width: 0%;
              height: 2px;
              background: linear-gradient(90deg, #ffbe00 60%, #ff6400 100%);
              position: absolute;
              left: 0;
              top: 0; }
            .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info p {
              margin-top: 1.5rem;
              font-size: 1rem;
              text-align: center; }
            .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions {
              width: 100%;
              margin-top: auto; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion {
                cursor: pointer;
                color: black; }
                .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion i {
                  transition: all 0.4s;
                  position: relative;
                  z-index: 1000; }
                .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion span {
                  transition: all 0.4s; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion:nth-child(1):hover i {
                transform: translateY(-0.2rem);
                color: #3d78f8; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion:nth-child(1):hover span {
                color: #3d78f8; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion:nth-child(2):hover i {
                transform: translateY(-0.2rem);
                color: #fa1e28; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion:nth-child(2):hover span {
                color: #fa1e28; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion:nth-child(3):hover i {
                transform: translateY(-0.2rem);
                color: #969696; }
              .burgers-section .burgers .combo .burgers__card .burgers__back .burgers__info .burgers__emotions .burgers__emotion:nth-child(3):hover span {
                color: #969696; }
    .burgers-section .burgers .combo:hover .burgers__card {
      transform: perspective(600px) rotateY(180deg); }
      .burgers-section .burgers .combo:hover .burgers__card .burgers__back .burgers__info .burgers__separator::before {
        animation: separator 2s; }
      .burgers-section .burgers .combo:hover .burgers__card .burgers__back .burgers__info h3 {
        animation: iluminated__text 2s; }
  @keyframes separator {
    0% {
      width: 0%;
      left: 0;
      top: 0; }
    50% {
      width: 100%;
      left: 0;
      top: 0; }
    51% {
      width: 100%;
      left: auto;
      right: 0;
      top: 0; }
    100% {
      left: auto;
      right: 0;
      width: 0%; } }
  @keyframes iluminated__text {
    0% {
      color: #ffbe00; }
    50% {
      color: #ffbe00;
      text-shadow: 0 0 5px #ffbe00, 0 0 10px #ffbe00, 0 0 20px #ffbe00; }
    100% {
      color: #ffbe00; } } }

.elmenu .menu__banner {
  width: 100%;
  background: #cc1016;
  background: linear-gradient(62deg, #cc1016 0%, #640000 100%);
  border: 2px solid #640000;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .elmenu .menu__banner .menu__burger {
    position: relative;
    width: 100%; }
    .elmenu .menu__banner .menu__burger img {
      display: block;
      margin: auto;
      position: relative;
      z-index: 100;
      width: 220px;
      height: 220px;
      object-fit: contain;
      transition: all .4s; }
    .elmenu .menu__banner .menu__burger .menu__title {
      display: none; }
  .elmenu .menu__banner .menu__info {
    width: 80%;
    color: #ffbe00;
    text-align: center;
    margin-bottom: 1rem;
    max-width: 330px; }
    .elmenu .menu__banner .menu__info h1 {
      text-transform: uppercase;
      margin-bottom: 1rem;
      font-family: 'Sigmar One', cursive; }
    .elmenu .menu__banner .menu__info p {
      text-transform: uppercase;
      margin-bottom: 1rem; }

@media screen and (min-width: 1100px) {
  .elmenu .menu__banner {
    flex-direction: row;
    justify-content: center;
    height: 90vh; }
    .elmenu .menu__banner .menu__burger img {
      position: relative;
      z-index: 100;
      width: 400px;
      height: 400px;
      object-fit: contain;
      transition: all .4s; }
    .elmenu .menu__banner .menu__burger .menu__title {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: block; }
      .elmenu .menu__banner .menu__burger .menu__title span {
        display: block;
        color: #ffbe00;
        font-size: 10rem;
        font-family: 'Sigmar One', cursive;
        line-height: 0px;
        transition: all .4s; }
    .elmenu .menu__banner .menu__info {
      width: 80%;
      text-align: center;
      margin-bottom: 0;
      padding-right: 2rem; }
      .elmenu .menu__banner .menu__info h1 {
        text-transform: uppercase;
        margin-bottom: 1rem;
        font-size: 3.5rem; }
      .elmenu .menu__banner .menu__info p {
        text-align: center;
        font-size: 1.3rem;
        color: white; }
        .elmenu .menu__banner .menu__info p b {
          color: #ffbe00;
          text-shadow: 0 0 4px #ffbe00; }
  .elmenu .menu__banner:hover .menu__burger img {
    width: 500px;
    height: 500px; }
  .elmenu .menu__banner:hover .menu__burger .menu__title span {
    line-height: 150px;
    text-shadow: 0 0 10px #ffbe00, 0 0 20px #ffbe00; } }

.seccion-promociones {
  padding: 3rem 1rem; }
  .seccion-promociones .container-promociones {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px; }
    .seccion-promociones .container-promociones .card {
      width: 350px;
      border-radius: .5rem;
      border: 1px solid #ddd;
      margin-bottom: 2rem; }
      .seccion-promociones .container-promociones .card img {
        position: static;
        width: 100%; }
      .seccion-promociones .container-promociones .card .comboText {
        font-size: 2rem;
        background-color: #001428;
        border-radius: .5rem .5rem 0 0;
        color: #F3D548;
        text-align: center;
        opacity: 1; }
      .seccion-promociones .container-promociones .card .card__content {
        padding: .5rem; }
        .seccion-promociones .container-promociones .card .card__content h3 {
          font-size: 2rem;
          margin-bottom: .5rem;
          color: #ffbe00; }
        .seccion-promociones .container-promociones .card .card__content p {
          margin-bottom: .5rem;
          color: #001428; }
        .seccion-promociones .container-promociones .card .card__content a {
          display: block;
          padding: .5rem;
          text-align: center;
          border-radius: .2rem;
          text-decoration: none;
          color: white;
          background-color: #ffbe00;
          font-size: 1.5rem;
          text-transform: uppercase;
          font-weight: bold; }

@media screen and (min-width: 1024px) {
  .seccion-promociones .container-promociones .card {
    width: 80px;
    height: 500px;
    border-radius: 2.5rem;
    transition: width .5s ease-in-out;
    margin: 0 .5rem;
    transition-property: width, border-radius;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    position: relative;
    border: none; }
    .seccion-promociones .container-promociones .card .card__content {
      width: 100%;
      text-align: center;
      background-color: white;
      border: 1px solid #ddd;
      border-radius: 1rem;
      overflow: hidden;
      transition-property: opacity, height;
      transition-duration: .5s, .5s;
      opacity: 0;
      height: 0;
      position: relative;
      z-index: 50; }
      .seccion-promociones .container-promociones .card .card__content a {
        width: 200px;
        margin: 1rem auto;
        padding: 15px;
        text-decoration: none;
        background-color: #ffbe00;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: .5rem;
        transition: all .4s; }
      .seccion-promociones .container-promociones .card .card__content a:hover {
        background-color: #ffbe00;
        box-shadow: 0 0 10px #ffbe00, 0 0 20px #ffbe00;
        color: #fff;
        text-shadow: 0 0 4px #fff; }
      .seccion-promociones .container-promociones .card .card__content h3 {
        margin: 1rem;
        font-size: 2rem; }
    .seccion-promociones .container-promociones .card .comboText {
      width: 220px;
      height: 50px;
      position: absolute;
      z-index: 60;
      background-color: transparent;
      top: calc(50% - 25px);
      left: calc(50% - 120px);
      transform: rotate(-90deg);
      font-size: 3rem;
      color: #ffbe00;
      transition: all .5s ease-in-out;
      opacity: 1; }
    .seccion-promociones .container-promociones .card img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2.5rem;
      transition: all .5s ease-in-out; }
  .seccion-promociones .container-promociones .card:hover {
    /* width: 600px; */
    width: 500px;
    border-radius: 1rem; }
    .seccion-promociones .container-promociones .card:hover img {
      border-radius: 1rem; }
    .seccion-promociones .container-promociones .card:hover .comboText {
      top: calc(50% - 150px);
      left: -60px;
      transform: rotate(-90deg);
      font-size: 1rem;
      opacity: 0; }
    .seccion-promociones .container-promociones .card:hover .card__content {
      transition-property: opacity, height;
      transition-duration: .4s, .3s;
      transition-delay: .5s;
      opacity: 1;
      height: 200px; }
      .seccion-promociones .container-promociones .card:hover .card__content p {
        top: calc(50% - 150px);
        left: -60px;
        font-size: 1rem; } }

.clients {
  width: 100%;
  padding: 3rem 0; }
  .clients .containerClient .Images-Container {
    padding: 1rem;
    margin: auto;
    width: 100%;
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: repeat(auto-fill, 320px);
    justify-content: center; }
    .clients .containerClient .Images-Container .Images-Container__item {
      width: 320px; }
      .clients .containerClient .Images-Container .Images-Container__item img {
        display: block;
        margin: 0;
        width: 320px;
        height: 320px;
        object-fit: cover; }
      .clients .containerClient .Images-Container .Images-Container__item img:nth-child(2) {
        object-position: left; }
      .clients .containerClient .Images-Container .Images-Container__item img:nth-child(5) {
        object-position: top; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info {
        margin-bottom: 1.5rem;
        padding: 0 .5rem; }
        .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions {
          display: flex; }
          .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i {
            font-size: 1.5rem;
            margin: 1rem;
            margin-left: 0; }
          .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:last-child {
            margin-left: auto; }
        .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info span {
          font-weight: bold; }
        .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul {
          columns: 2;
          text-align: center; }
          .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li {
            list-style: none; }
            .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li a {
              display: block;
              height: 2rem;
              line-height: 2rem;
              text-decoration: none;
              color: #001428; }
  .clients .clients__comunity {
    padding-top: 3rem; }
    .clients .clients__comunity .clients__button {
      display: flex;
      justify-content: center;
      align-items: center; }
      .clients .clients__comunity .clients__button .btn-neon {
        color: white;
        transition: all .4s;
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        margin: .5rem auto;
        padding: 15px 30px;
        letter-spacing: 4px;
        text-decoration: none;
        font-size: 24px;
        overflow: hidden;
        background: #ffbe00;
        border-radius: .5rem;
        box-shadow: 0 0 10px #ffbe00, 0 0 10px #ffbe00, 0 0 20px #ffbe00; }
        .clients .clients__comunity .clients__button .btn-neon span {
          position: absolute;
          display: block; }
        .clients .clients__comunity .clients__button .btn-neon #span1 {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #ffbe00); }
        .clients .clients__comunity .clients__button .btn-neon #span3 {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, #ffbe00); }
        .clients .clients__comunity .clients__button .btn-neon #span2 {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #ffbe00); }
        .clients .clients__comunity .clients__button .btn-neon #span4 {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #ffbe00); }
      .clients .clients__comunity .clients__button .btn-neon:hover {
        color: white; }

@media screen and (min-width: 992px) {
  .clients .containerClient .Images-Container .Images-Container__item {
    position: relative; }
    .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info {
      position: absolute;
      bottom: 0;
      left: 0;
      color: #ddd;
      padding: .5rem;
      padding-top: 20%;
      width: 100%;
      text-align: center;
      overflow: hidden;
      transition-property: opacity, height;
      transition-duration: .5s, .5s;
      opacity: 0;
      height: 0;
      background: linear-gradient(180deg, rgba(0, 20, 40, 0.2), #001428);
      margin-bottom: 0; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i {
        cursor: pointer;
        transition: all .4s; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(1):hover {
        color: #fa1e28;
        text-shadow: 0 0 5px #fa1e28, 0 0 5px #fa1e28, 0 0 10px #fa1e28, 0 0 15px #fa1e28, 0 0 40px #fa1e28; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(2):hover {
        color: #3d78f8;
        text-shadow: 0 0 5px #3d78f8, 0 0 5px #3d78f8, 0 0 10px #3d78f8, 0 0 15px #3d78f8, 0 0 40px #3d78f8; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(3):hover {
        color: #44e0eb;
        text-shadow: 0 0 5px #44e0eb, 0 0 5px #44e0eb, 0 0 10px #44e0eb, 0 0 15px #44e0eb, 0 0 40px #44e0eb; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info .Images-Container__emotions i:nth-child(4):hover {
        color: #969696;
        text-shadow: 0 0 5px #969696, 0 0 5px #969696, 0 0 10px #969696, 0 0 15px #969696, 0 0 40px #969696; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li a {
        color: #ddd; }
      .clients .containerClient .Images-Container .Images-Container__item .Images-Container-info ul li a:hover {
        color: #ffbe00;
        text-shadow: 0 0 5px #ffbe00, 0 0 5px #ffbe00, 0 0 10px #ffbe00, 0 0 15px #ffbe00, 0 0 40px #ffbe00; }
  .clients .containerClient .Images-Container .Images-Container__item:hover .Images-Container-info {
    transition-property: opacity, height;
    transition-duration: .4s, .3s;
    transition-delay: .5s;
    opacity: 1;
    height: 100%; }
  .clients .containerClient .Images-Container .Images-Container__item:nth-child(5) {
    grid-row: 1 / span 2;
    height: 648px;
    /*8px agregados por el gap .5rem*/ }
    .clients .containerClient .Images-Container .Images-Container__item:nth-child(5) img {
      height: 648px;
      /*8px agregados por el gap .5rem*/ }
    .clients .containerClient .Images-Container .Images-Container__item:nth-child(5) .Images-Container-info {
      padding-top: 120%; }
  .clients .clients__comunity .clients__button .btn-neon {
    background: transparent;
    color: #001428;
    border-radius: .5rem;
    box-shadow: 0 0 0 transparent; }
    .clients .clients__comunity .clients__button .btn-neon span {
      position: absolute;
      display: block; }
    .clients .clients__comunity .clients__button .btn-neon #span1 {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #ffbe00); }
    .clients .clients__comunity .clients__button .btn-neon #span3 {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #ffbe00); }
    .clients .clients__comunity .clients__button .btn-neon #span2 {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #ffbe00); }
    .clients .clients__comunity .clients__button .btn-neon #span4 {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #ffbe00); }
  .clients .clients__comunity .clients__button .btn-neon:hover {
    background: #ffbe00;
    box-shadow: 0 0 10px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00;
    transition-delay: 1s; }
    .clients .clients__comunity .clients__button .btn-neon:hover #span1 {
      left: 100%;
      transition: 1s; }
    .clients .clients__comunity .clients__button .btn-neon:hover #span3 {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s; }
    .clients .clients__comunity .clients__button .btn-neon:hover #span2 {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s; } }

.contact .form-section {
  width: 100%;
  height: 500px;
  position: relative;
  background-color: slateblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }
  .contact .form-section .form-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .contact .form-section .form-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .contact .form-section .form-image:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background: linear-gradient(225deg, #001428, #FFBE00);
    z-index: 1;
    mix-blend-mode: screen; }
  .contact .form-section .form-box {
    width: 80%;
    /*height: 80%;*/
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 20, 40, 0.9);
    border-radius: 1rem; }
    .contact .form-section .form-box .form-box__container {
      width: 80%; }
      .contact .form-section .form-box .form-box__container .form__title {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: "Ubuntu Mono", monospace;
        color: #ffbe00;
        margin-bottom: 3rem;
        text-align: center; }
      .contact .form-section .form-box .form-box__container .form__form .form__item {
        box-sizing: border-box;
        width: 80%;
        margin: 2rem auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: nowrap;
        /* para que no colapse */
        border: none;
        position: relative; }
        .contact .form-section .form-box .form-box__container .form__form .form__item i {
          font-size: 1.2rem;
          width: 8%;
          padding: 5px;
          /* order: 1 Lo coloco primero */
          order: 1;
          color: #ddd;
          transition: 0.5s ease all; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input {
          width: 92%;
          order: 2;
          border: none;
          outline: none;
          padding: 10px 10px 10px 15px;
          background-color: transparent;
          font-size: 1.2rem;
          color: #ddd;
          font-family: "Ubuntu Mono", monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus {
          outline: none; }
        .contact .form-section .form-box .form-box__container .form__form .form__item label {
          position: absolute;
          top: .6rem;
          left: 3rem;
          transition: .5s ease all;
          pointer-events: none;
          color: #ddd;
          font-size: 1.2rem;
          font-family: "Ubuntu Mono", monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__item .form__border-active {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%; }
        .contact .form-section .form-box .form-box__container .form__form .form__item .form__border-active::before {
          content: '';
          width: 0%;
          height: 2px;
          /* position: absolute sale del flujo, no necesito ponerle order y funciona mejor el nowrap, sino no funciona bien. */
          position: absolute;
          bottom: 0;
          left: 0;
          background: linear-gradient(90deg, #ffbe00 60%, #ff6400 100%);
          transition: 0.4s ease width; }
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea {
          width: 92%;
          height: 39px;
          order: 2;
          border: none;
          outline: none;
          padding: 10px 10px 10px 15px;
          background-color: transparent;
          resize: none;
          font-size: 1.2rem;
          color: #ddd;
          font-family: 'Ubuntu Mono', monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus ~ .form__border-active::before,
        .contact .form-section .form-box .form-box__container .form__form .form__item input:valid ~ .form__border-active::before,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:focus ~ .form__border-active::before,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:valid ~ .form__border-active::before {
          width: 100%; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus ~ label,
        .contact .form-section .form-box .form-box__container .form__form .form__item input:valid ~ label,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:focus ~ label,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:valid ~ label {
          top: -1.1rem;
          left: 0;
          font-size: 1rem;
          color: #ffbe00; }
        .contact .form-section .form-box .form-box__container .form__form .form__item input:focus ~ i,
        .contact .form-section .form-box .form-box__container .form__form .form__item input:valid ~ i,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:focus ~ i,
        .contact .form-section .form-box .form-box__container .form__form .form__item textarea:valid ~ i {
          color: #ffbe00; }
      .contact .form-section .form-box .form-box__container .form__form .form__button {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: "Ubuntu Mono", monospace; }
        .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon {
          position: relative;
          display: inline-block;
          text-transform: uppercase;
          margin: .5rem auto;
          padding: 15px 30px;
          color: #fff;
          letter-spacing: 4px;
          text-decoration: none;
          font-size: 24px;
          overflow: hidden;
          transition: 0.2s;
          background: #ffbe00;
          border-radius: .5rem;
          box-shadow: 0 0 10px #ffbe00, 0 0 10px #ffbe00, 0 0 20px #ffbe00; }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon span {
            position: absolute;
            display: block; }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span1 {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #ffbe00); }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span3 {
            bottom: 0;
            right: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(270deg, transparent, #ffbe00); }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span2 {
            top: -100%;
            right: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(180deg, transparent, #ffbe00); }
          .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span4 {
            bottom: -100%;
            left: 0;
            width: 2px;
            height: 100%;
            background: linear-gradient(360deg, transparent, #ffbe00); }

.contact .map-section h2 {
  color: #ffbe00;
  font-family: "Ubuntu Mono", monospace; }

.contact .map-section .map-container {
  margin: 3rem auto;
  width: 100%; }
  .contact .map-section .map-container .map {
    width: 100%;
    height: 300px; }

@media screen and (min-width: 992px) {
  .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon {
    background: transparent;
    border-radius: .5rem;
    box-shadow: 0 0 0 transparent; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon span {
      position: absolute;
      display: block; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span1 {
      top: 0;
      left: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, transparent, #ffbe00); }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span3 {
      bottom: 0;
      right: -100%;
      width: 100%;
      height: 2px;
      background: linear-gradient(270deg, transparent, #ffbe00); }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span2 {
      top: -100%;
      right: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(180deg, transparent, #ffbe00); }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon #span4 {
      bottom: -100%;
      left: 0;
      width: 2px;
      height: 100%;
      background: linear-gradient(360deg, transparent, #ffbe00); }
  .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover {
    background: #ffbe00;
    box-shadow: 0 0 10px #ffbe00, 0 0 40px #ffbe00, 0 0 80px #ffbe00;
    transition-delay: 1s; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover #span1 {
      left: 100%;
      transition: 1s; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover #span3 {
      right: 100%;
      transition: 1s;
      transition-delay: 0.5s; }
    .contact .form-section .form-box .form-box__container .form__form .form__button .btn-neon:hover #span2 {
      top: 100%;
      transition: 1s;
      transition-delay: 0.25s; } }

@media screen and (min-width: 768px) {
  .contact .form-section {
    height: 600px; }
    .contact .form-section .form-image {
      width: 50%;
      height: 100%;
      position: relative; }
    .contact .form-section .form-image:before {
      height: 600px; }
    .contact .form-section .form-box {
      width: 50%;
      height: 100%;
      position: static;
      background: #001428;
      border-radius: 0; }
  .contact .map-section .map-container {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .contact .map-section .map-container .map {
      width: 50%;
      height: 300px; } }

.sectionUs {
  width: 100%;
  padding: 3rem 0; }
  .sectionUs .container .us__contact {
    margin-top: 5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; }
    .sectionUs .container .us__contact .us__image-container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px; }
      .sectionUs .container .us__contact .us__image-container .us__image img {
        display: block;
        width: 320px;
        height: 320px;
        object-fit: cover; }
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(2),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(3),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(4) {
        display: none; }
    .sectionUs .container .us__contact .us__contact-info {
      width: 320px;
      /*     background-color: #F3D548;  */
      text-align: center;
      padding: 1rem;
      color: #001428;
      position: relative; }
      .sectionUs .container .us__contact .us__contact-info h3 {
        text-transform: uppercase;
        margin-bottom: .5rem;
        font-family: 'Ubuntu Mono', monospace;
        font-weight: 700;
        font-size: 2rem; }
      .sectionUs .container .us__contact .us__contact-info p {
        font-family: 'Ubuntu Mono', monospace;
        height: 120px;
        overflow: auto; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social a {
        text-decoration: none; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social i {
        cursor: pointer;
        font-size: 1.5rem;
        margin: 1rem;
        color: #001428;
        transition: color .4s; }
  .sectionUs .container .us__contact:nth-child(odd) .us__image-container .us__image {
    background-color: #ffbe00; }
  .sectionUs .container .us__contact:nth-child(even) .us__image-container .us__image {
    background-color: #ff6400; }

@media screen and (min-width: 992px) {
  .sectionUs .container .us__contact {
    width: 80%;
    margin: 5rem auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start; }
    .sectionUs .container .us__contact .us__image-container .us__image {
      position: relative;
      width: 320px;
      height: 320px; }
      .sectionUs .container .us__contact .us__image-container .us__image img {
        position: absolute;
        transition: all .5s; }
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(2),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(3),
      .sectionUs .container .us__contact .us__image-container .us__image img:nth-child(4) {
        display: block; }
    .sectionUs .container .us__contact .us__contact-info {
      width: 60%;
      max-width: 500px;
      text-align: left;
      margin-left: 50px; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social {
        text-align: right; }
      .sectionUs .container .us__contact .us__contact-info .us__contact-social:nth-child(odd) i:hover {
        color: #FFBE00;
        text-shadow: 0 0 10px #FFBE00, 0 0 40px #FFBE00; }
    .sectionUs .container .us__contact .us__contact-info::before {
      content: '';
      position: absolute;
      width: 0%;
      height: 5px;
      bottom: 0;
      right: 0;
      transition: all .4s; }
  .sectionUs .container .us__contact:nth-child(odd) .us__contact-info::before {
    background-color: #ffbe00; }
  .sectionUs .container .us__contact:nth-child(even) .us__contact-info::before {
    background-color: #ff6400; }
  .sectionUs .container .us__contact:hover .us__contact-info::before {
    width: 100%;
    right: auto;
    left: 0; }
    .sectionUs .container .us__contact:hover .us__contact-info::before .us__contact-social i:hover {
      color: #ff6400;
      text-shadow: 0 0 10px #ff6400, 0 0 40px #ff6400; }
  .sectionUs .container .us__contact:hover img:nth-child(1) {
    transform: translate(10px, -10px);
    opacity: .4; }
  .sectionUs .container .us__contact:hover img:nth-child(2) {
    transform: translate(20px, -20px);
    opacity: .6; }
  .sectionUs .container .us__contact:hover img:nth-child(3) {
    transform: translate(30px, -30px);
    opacity: .8; }
  .sectionUs .container .us__contact:hover img:nth-child(4) {
    transform: translate(40px, -40px);
    opacity: 1; } }
