<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--etiquetas meta para descripcion y keywords-->
    <meta name="description" content="lugar para comer las mejores hamburguesas de La Plata">
    <meta name="keywords" content="HAMBURGUESA, LA PLATA, BUENOS AIRES, BURGER">
    <!--titulo de la pagina-->
    <title>Coder Burger - cómo contactarnos</title>
    <script src="https://kit.fontawesome.com/5da1d52532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link rel="icon" href="../img/iconoburger.ico">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--beginning of the header-->
    <div class="navegacion">
        <nav>
            <a href="../index.html">
                <img class="logomenu" src="../img/logopagina.png" alt="">
            </a>
            <ul>
                <li>
                    <a class="nav__link" href="us.html">Nosotros</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="menu.html">Menú</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="clients.html">Clientes</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="contact.html">Contacto</a>
                    <div class="link-active"></div>
                </li>
            </ul>
        </nav>
    </div>
    <!--ending of the header-->

    <!--beginning of the form-->
    <section class="contact">
        <div class="form-section">
            <div class="form-image">
                <img src="https://images.pexels.com/photos/580612/pexels-photo-580612.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">
            </div>
            <div class="form-box">
                <div class="form-box__container">
                    <h2 class="form__title">Contáctanos</h2>
                    <form action="" class="form__form">
                        <div class="form__item">
                            <input type="text" required>
                            <label for="name">Nombre</label>
                            <i class="fas fa-user img__name"></i>
                            <div class="form__border-active"></div>
                        </div>
                        <div class="form__item">
                            <input type="text" required>
                            <label for="name">Email</label>
                            <i class="fas fa-envelope"></i>
                            <div class="form__border-active"></div>
                        </div>
                        <div class="form__item">
                            <textarea name="" id="" cols="30" rows="10" required></textarea>
                            <label for="name">Mensaje</label>
                            <i class="fas fa-paper-plane"></i>
                            <div class="form__border-active"></div>
                        </div>
                        <div class="form__button">
                            <a href="#" class="btn-neon">
                                <span id="span1"></span>
                                <span id="span2"></span>
                                <span id="span3"></span>
                                <span id="span4"></span> Enviar
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--ending of the form-->

        <!--here is the map-->
        <div class="map-section">
            <h2 class="titulo">¡Encuentranos en el mapa!</h2>
            <div class="map-container">
                <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.890207960769!2d-57.959111185041806!3d-34.90920468123206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a2e64a30641ae7%3A0x4614d7f14a837a21!2sMcDonald&#39;s!5e0!3m2!1sen!2sar!4v1604243065903!5m2!1sen!2sar"
                    frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
        </div>
    </section>
    <!--beginning of the footer-->
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__newsletter">
                <p>¡Ingresa tu mail para mantenerte actualizado acerca de hamburguesas nuevas y promociones!</p>
                <div class="footer__form-container">
                    <div class="form__item">
                        <input type="text" required>
                        <label for="name">Escriba su email</label>
                        <i class="fas fa-envelope"></i>
                        <div class="form__border-active"></div>

                    </div>
                    <div class="form__item">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </div>
            <div class="footer__list">
                <ul>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li><a href="politica.html">Política de privacidad</a></li>
                    <li><a href="legales.html">Información Legal</a></li>
                    <li><a href="empleo.html">Empleos</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__social">
            <div class="footer__siguenos">
                <span>Síguenos en: </span>
                <div class="footer-socialNetworks">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/coderburger/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
            <span class="footer__rights">
                        TM & © 2020 CoderBurger Corporation. Todos los derechos reservados.
                    </span>
        </div>
    </footer>
    <!--ending of the footer-->
</body>

</html>