<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--etiquetas meta para descripcion y keywords-->
    <meta name="description" content="lugar para comer las mejores hamburguesas de La Plata">
    <meta name="keywords" content="HAMBURGUESA, LA PLATA, BUENOS AIRES, BURGER">
    <!--titulo de la pagina-->
    <title>Coder Burger - Empleo</title>
    <!--icon page-->
    <link rel="icon" href="../img/iconoburger.png">
    <script src="https://kit.fontawesome.com/5da1d52532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--our CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--beginning of the header-->
    <div class="navegacion">
        <nav>
            <a href="../index.html">
                <img class="logomenu" src="../img/logopagina.png" alt="">
            </a>
            <ul>
                <li>
                    <a class="nav__link" href="us.html">Nosotros</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="menu.html">Menú</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="clients.html">Clientes</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="contact.html">Contacto</a>
                    <div class="link-active"></div>
                </li>
            </ul>
        </nav>
    </div>
    <!--information-->
    <section class="politica">
        <h1>¿QUIERES SER PARTE DE NUESTRO EQUIPO?</h1>
        <P>Entendemos el CUIDADO como una forma de reconocernos, aceptarnos en la diversidad y potenciar en el otro su TALENTO. Contamos contigo para hacer vivo nuestro propósito en cada interacción en nuestra compañía: con nuestros clientes y nuestros proveedores.
            <b>Envíanos tu CV a traves de nuestra página de <a href="contact.html">contacto</a> o escribenos a contacto@coderburger.com</b> </P>
        <div class="img1">
            <img src="https://image.freepik.com/free-photo/chef-cooking-food-restaurant-kitchen_53876-67.jpg" alt="persona cocina">
        </div>
    </section>
    <!--beginning of the footer-->
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__newsletter">
                <p>¡Ingresa tu mail para mantenerte actualizado acerca de hamburguesas nuevas y promociones!</p>
                <div class="footer__form-container">
                    <div class="form__item">
                        <input type="text" required>
                        <label for="name">Escriba su email</label>
                        <i class="fas fa-envelope"></i>
                        <div class="form__border-active"></div>

                    </div>
                    <div class="form__item">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </div>
            <div class="footer__list">
                <ul>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li><a href="politica.html">Política de privacidad</a></li>
                    <li><a href="legales.html">Información Legal</a></li>
                    <li><a href="empleo.html">Empleos</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__social">
            <div class="footer__siguenos">
                <span>Síguenos en: </span>
                <div class="footer-socialNetworks">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/coderburger/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
            <span class="footer__rights">
                        TM & © 2020 CoderBurger Corporation. Todos los derechos reservados.
                    </span>
        </div>
    </footer>
    <!--ending of the footer-->
</body>

</html>