<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--etiquetas meta para descripcion y keywords-->
    <meta name="description" content="lugar para comer las mejores hamburguesas de La Plata">
    <meta name="keywords" content="HAMBURGUESA, LA PLATA, BUENOS AIRES, BURGER">
    <!--titulo de la pagina-->
    <title>Coder Burger - Legal</title>
    <!--icon page-->
    <link rel="icon" href="../img/iconoburger.png">
    <script src="https://kit.fontawesome.com/5da1d52532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--our CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--beginning of the header-->
    <div class="navegacion">
        <nav>
            <a href="../index.html">
                <img class="logomenu" src="../img/logopagina.png" alt="">
            </a>
            <ul>
                <li>
                    <a class="nav__link" href="us.html">Nosotros</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="menu.html">Menú</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="clients.html">Clientes</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="contact.html">Contacto</a>
                    <div class="link-active"></div>
                </li>
            </ul>
        </nav>
    </div>

    <!--information-->
    <section class="politica">
        <h1>INFORMACIÓN LEGAL</h1>
        <p>Este acuerdo para los usuarios del sitio web (el "acuerdo") se aplica a todas las personas que utilicen, visiten o naveguen en <a href="../index.html">https://angorozco.github.io/CoderBurger/</a>, (el "Sitio web") (denominados aquí colectivamente
            como los "usuarios" o por el singular "tú"). El Sitio web es administrado por Coder Burger. El acceso y uso del sitio web depende de tu aceptación del presente acuerdo como tal. El uso de este sitio web constituye una aceptación de hecho de
            este acuerdo. Los términos de nuestra Política General sobre la Privacidad y de nuestra Política sobre la Privacidad de Niños están incluidos aquí por su sola mención.</p>
        <h2>Leyes y Regulaciones</h2>
        <p>El acceso y uso de este sitio web quedan sujetos a todas las leyes y regulaciones locales, federales e internacionales aplicables. Al visitar el sitio web, el usuario acuerda no utilizarlo con fines ilícitos o prohibidos conforme a este Acuerdo.
            El usuario no puede: (I) utilizar el Sitio web de manera que lo perjudique, inhabilite, sobrecargue o dañe; (II) cargar a la red, publicar, enviar por correo electrónico o enviar o transmitir por cualquier otro medio materiales que: (a) contengan
            virus de informática u otros códigos de programación, archivos o programas diseñados para interrumpir, destruir o limitar el funcionamiento de cualquier software o hardware de informática o equipo de telecomunicaciones; (b) contengan marcas
            registradas de terceros, marcas de servicio, materiales sujetos a derechos de autor u otros derechos intelectuales sin el previo consentimiento y la aprobación por escrito del tercero interesado; (c) sea profano, difamatorio, obsceno, de índole
            sexual o discriminatoria, o poco profesional o de mal gusto; (III) interferir con los servidores o las redes conectadas al sitio; o (IV) viole cualquiera de los términos y condiciones, procedimientos, políticas o regulaciones de las redes
            conectadas al sitio. <b> Todo intento de obstruir la administración legítima de este Sitio web por parte de cualquier persona, puede constituir una violación del derecho civil y penal y, en caso de que se consume dicha intención, Coder Burger
            se reserva el derecho de exigir indemnización por daños y perjuicios conforme a las disposiciones de ley.</b> El hecho de que Coder Burger no haga cumplir cualquiera de estos términos y condiciones, no constituye abandono alguno de esa u otra
            disposición.
        </p>
    </section>

    <!--beginning of the footer-->
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__newsletter">
                <p>¡Ingresa tu mail para mantenerte actualizado acerca de hamburguesas nuevas y promociones!</p>
                <div class="footer__form-container">
                    <div class="form__item">
                        <input type="text" required>
                        <label for="name">Escriba su email</label>
                        <i class="fas fa-envelope"></i>
                        <div class="form__border-active"></div>

                    </div>
                    <div class="form__item">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </div>
            <div class="footer__list">
                <ul>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li><a href="politica.html">Política de privacidad</a></li>
                    <li><a href="legales.html">Información Legal</a></li>
                    <li><a href="empleo.html">Empleos</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__social">
            <div class="footer__siguenos">
                <span>Síguenos en: </span>
                <div class="footer-socialNetworks">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/coderburger/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
            <span class="footer__rights">
                    TM & © 2020 CoderBurger Corporation. Todos los derechos reservados.
                </span>
        </div>
    </footer>
    <!--ending of the footer-->
</body>

</html>