<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--etiquetas meta para descripcion y keywords-->
    <meta name="description" content="lugar para comer las mejores hamburguesas de La Plata">
    <meta name="keywords" content="HAMBURGUESA, LA PLATA, BUENOS AIRES, BURGER">
    <!--titulo de la pagina-->
    <title>Coder Burger - menú de hamburguesas</title>
    <!--page icon-->
    <link rel="icon" href="../img/iconoburger.ico">
    <script src="https://kit.fontawesome.com/5da1d52532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--our CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--beginning of the header-->
    <div class="navegacion">
        <nav>
            <a href="../index.html">
                <img class="logomenu" src="../img/logopagina.png" alt="">
            </a>
            <ul>
                <li>
                    <a class="nav__link" href="us.html">Nosotros</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="menu.html">Menú</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="clients.html">Clientes</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a class="nav__link" href="contact.html">Contacto</a>
                    <div class="link-active"></div>
                </li>
            </ul>
        </nav>
    </div>

    <!--ending of the header-->
    <section class="elmenu">
        <div class="menu__banner">
            <div class="menu__burger">
                <div class="menu__title">
                    <span>python</span>
                    <span>python</span>
                    <span>python</span>
                </div>
                <img src="../img/burgerDeluxe.png" alt="">
            </div>

            <div class="menu__info">
                <h1>python</h1>
                <p><b>Nuestra hamburguesa deluxe del mes</b>, viene con dos carnitas, tomate y lechuga, y crujientes cebollas que se combinan con el queso para un mejor sabor.</p>
            </div>
        </div>
    </section>
    <section class="seccion-promociones">
        <h2 class="titulo">Pide el combo que quieras</h2>
        <div class="promociones__explanation">
            <p class="parrafo">Elige tu combo favorito y <b>haz clic en compilar</b> cuando desees hacer el pedido.</p>
            <p class="parrafo">Una vez compilada la promo, <b>te la llevamos gratis</b> a tu casa.</p>
        </div>
        <div class="container-promociones">
            <div class="card">
                <h3 class="comboText">combo 1</h3>
                <img src="https://images.pexels.com/photos/3052362/pexels-photo-3052362.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="hamburguesa">
                <div class="card__content">
                    <h3>Big Java</h3>
                    <p>
                        bacon, doble carne, doble queso, papas regulares, gaseosa regular.</p>
                    <a href="#">Compilar</a>
                </div>
            </div>
            <div class="card">
                <h3 class="comboText">combo 2</h3>
                <img src="https://images.pexels.com/photos/1199960/pexels-photo-1199960.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="hamburguesa">
                <div class="card__content">
                    <h3>Grand PHP</h3>
                    <p>
                        tomate, lechuga, una carne. queso, pepinillos. Papas y gaseosa regular.</p>
                    <a href="#">Compilar</a>
                </div>
            </div>
            <div class="card">
                <h3 class="comboText">combo 3</h3>
                <img src="https://images.pexels.com/photos/1251198/pexels-photo-1251198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="hamburguesa">
                <div class="card__content">
                    <h3>JavaScript</h3>
                    <p>
                        una carne a la parrilla, rucula, tomate, huevo y queso. Papas y gaseosa regular.</p>
                    <a href="#">Compilar</a>
                </div>
            </div>
            <div class="card">
                <h3 class="comboText">combo 4</h3>
                <img src="https://images.pexels.com/photos/3738730/pexels-photo-3738730.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="hamburguesa">
                <div class="card__content">
                    <h3>Burger++</h3>
                    <p>
                        carne a la parrilla, tomate, lechuga, queso, bacon. Papas y gaseosa regular.</p>
                    <a href="#">Compilar</a>
                </div>
            </div>
            <div class="card">
                <h3 class="comboText">combo 5</h3>
                <img src="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" alt="hamburguesa">
                <div class="card__content">
                    <h3>Triple.Net</h3>
                    <p>
                        carne, tomate, lechuga, queso, bacon, cebolla, salsa. Papas y gaseosa regular.</p>
                    <a href="#">Compilar</a>
                </div>
            </div>
        </div>
    </section>
    <!--beginning of the footer-->
    <footer class="footer">
        <div class="footer__info">
            <div class="footer__newsletter">
                <p>¡Ingresa tu mail para mantenerte actualizado acerca de hamburguesas nuevas y promociones!</p>
                <div class="footer__form-container">
                    <div class="form__item">
                        <input type="text" required>
                        <label for="name">Escriba su email</label>
                        <i class="fas fa-envelope"></i>
                        <div class="form__border-active"></div>

                    </div>
                    <div class="form__item">
                        <input type="submit" value="Enviar">
                    </div>
                </div>
            </div>
            <div class="footer__list">
                <ul>
                    <li><a href="empresa.html">Empresa</a></li>
                    <li><a href="politica.html">Política de privacidad</a></li>
                    <li><a href="legales.html">Información Legal</a></li>
                    <li><a href="empleo.html">Empleos</a></li>
                </ul>
            </div>
        </div>
        <div class="footer__social">
            <div class="footer__siguenos">
                <span>Síguenos en: </span>
                <div class="footer-socialNetworks">
                    <a href="https://www.facebook.com/">
                        <i class="fab fa-facebook-f"></i></a>
                    <a href="https://www.instagram.com/coderburger/">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
            <span class="footer__rights">
                        TM & © 2020 CoderBurger Corporation. Todos los derechos reservados.
                    </span>
        </div>
    </footer>
    <!--ending of the footer-->
</body>

</html>