<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--etiquetas meta para descripcion y keywords-->
    <meta name="description" content="lugar para comer las mejores hamburguesas de La Plata">
    <meta name="keywords" content="HAMBURGUESA, LA PLATA, BUENOS AIRES, BURGER">
    <!--titulo de la pagina-->
    <title>Coder Burger - política de privacidad</title>
    <!--icon page-->
    <link rel="icon" href="../img/iconoburger.png">
    <script src="https://kit.fontawesome.com/5da1d52532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--our CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--beginning of the header-->
    <header>
        <!--beginning of the menu-->
        <nav class="navi">
            <!--the logo-->
            <a href="../index.html">
                <img class="navi__logo" src="../img/logopagina.png" alt="">
            </a>
            <ul>
                <li>
                    <a href="us.html">Nosotros</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a href="menu.html">Menú</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a href="clients.html">Clientes</a>
                    <div class="link-active"></div>
                </li>

                <li>
                    <a href="contact.html">Contacto</a>
                    <div class="link-active"></div>
                </li>
            </ul>
        </nav>
        <!--ending of the menu-->
    </header>
    <section class="politica">
        <h1>CONDICIONES GENERALES</h1>
        <H2>Ideas de Marketing</H2>
        <p>Con el fin de evitar malentendidos con respecto a la propiedad de las ideas o sugerencias, es política de CoderBurger Corporation no revisar las ideas de marketing o envíos no solicitados. Agradecemos su interés, pero nuestro personal controla
            el desarrollo y la implementación de nuevos servicios, productos, técnicas y equipos.</p>
        <h2>Artículos</h2>
        <p>Artículos promocionales CoderBurger® sólo están disponibles en los restaurantes participantes, hasta agotar existencias. No están disponibles por Burger King Corporation. Gracias por su interés.</p>
        <h2>Ayuda al Cliente</h2>
        <p>Si usted es un consumidor puede contactarnos a traves de esta <a href="contact.html">página</a> </p>
    </section>
    <!--beginning of the footer-->
    <footer class="footer">
        <div class="footer__social">
            <div class="a">
                <a href="politica.html">
                    <p>Política de Privacidad</p>
                </a>
            </div>
            <div class="b">
                <p>Encuentranos en:</p>
                <a href="https://instagram.com/coderburger">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="news">
            <form action="">
                <label class="" for="">Sé parte de nuestra comunidad</label>
                <input type="email" name="" id="" placeholder="ingresa tu mail">
                <input type="submit">
            </form>
        </div>
    </footer>
    <!--ending of the footer-->
</body>

</html>