<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--etiquetas meta para descripcion y keywords-->
    <meta name="description" content="lugar para comer las mejores hamburguesas de La Plata">
    <meta name="keywords" content="HAMBURGUESA, LA PLATA, BUENOS AIRES, BURGER">
    <!--titulo de la pagina-->
    <title>Coder Burger - sobre nosotros</title>
    <!--page icon-->
    <link rel="icon" href="../img/iconoburger.png">
    <script src="https://kit.fontawesome.com/5da1d52532.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/fontawesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!--our CSS-->
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <!--beginning of the header-->
    
    <header>
        <!--beginning of the menu-->
        <nav class="navi">
            <a href="../index.html">
                <!--the logo-->
                <img class="navi__logo" src="../img/logopagina.png" alt="">
            </a>
            <ul>
                <li>
                    <a href="us.html">Nosotros</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a href="menu.html">Menú</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a href="clients.html">Clientes</a>
                    <div class="link-active"></div>
                </li>
                <li>
                    <a href="contact.html">Contacto</a>
                    <div class="link-active"></div>
                </li>
            </ul>
        </nav>
        <!--ending of the menu-->
    </header>
    <!--ending of the header-->

    <!--beginning of the About Us (quienes somos) section-->
    <section class="sectionUs">
        <div class="container">
            <h1 class="enh1">Nuestro Equipo</h1>
            <div class="us__contact">
                <div class="us__image-container">
                    <div class="us__image">
                        <img src="https://images.pexels.com/photos/1024311/pexels-photo-1024311.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Karen B">
                    </div>
                </div>
                <div class="us__contact-info">
                    <h3>Angelica Orozco</h3>
                    <p>/*Se aprovecha de las súper hamburguesas creadas por Pablo.*/!</p>
                </div>
            </div>
            <div class="us__contact">
                <div class="us__image-container">
                    <div class="us__image">
                        <img src="https://images.pexels.com/photos/736716/pexels-photo-736716.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Ken C">
                    </div>
                </div>
                <div class="us__contact-info">
                    <h3>Pablo Kreick</h3>
                    <p>/*El genio detrás de CoderBurger. Creador de las más ricas hamburguesas.*/</p>
                </div>
            </div>
            <div class="us__contact">
                <div class="us__image-container">
                    <div class="us__image">
                        <img src="https://images.pexels.com/photos/774909/pexels-photo-774909.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Nerak A">
                    </div>
                </div>
                <div class="us__contact-info">
                    <h3>Liliana Álvarez</h3>
                    <p>/*Es nuestra Asistente de cocina.*/</p>
                </div>
            </div>
            <div class="us__contact">
                <div class="us__image-container">
                    <div class="us__image">
                        <img src="https://images.pexels.com/photos/825949/pexels-photo-825949.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="Karen B">
                    </div>
                </div>
                <div class="us__contact-info">
                    <h3>Algoritmo</h3>
                    <p>/*Alggie para los amigos. Nuestra mascota incondicional.*/</p>
                </div>
            </div>
        </div>
    </section>
    <!--ending of the About Us (quienes somos) section-->

    <!--beginning of the footer-->
    <footer class="footer">
        <div class="footer__social">
            <div class="a">
                <a href="politica.html">
                    <p>Política de Privacidad</p>
                </a>
            </div>
            <div class="b">
                <p>Encuentranos en:</p>
                <a href="https://instagram.com/coderburger">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="news">
            <form action="">
                <label class="" for="">Sé parte de nuestra comunidad</label>
                <input type="email" name="" id="" placeholder="ingresa tu mail">
                <input type="submit">
            </form>
        </div>
    </footer>
    <!--ending of the footer-->
</body>

</html>